$color-primary: #EA525B;
$color-primary-light: #FF7B8B;
$color-primary-super-light: #FFC0C8;
$color-black: #1C1D21;
$color-grey: #979B9C;
$color-grey-light: #CBD0D2;
$color-grey-lines: #EEE;
$color-white: #FFF;
$color-green: #4FC176;
